.Infos {
    margin: 2rem 1.5rem;
    line-height: 1.5;
}

.Infos h1 {
    margin-bottom: 1.5rem;
    color: var(--neutral-color-1);
    font-weight: var(--font-weight-bold);
}

.Infos p {
    margin-bottom: 1.5rem;
    color: var(--neutral-color-2);
    font-weight: var(--font-weight-normal);
}

.Infos_list {
    list-style-image: url('assets/images/icon-list.svg');
    padding-left: 1.5rem;
}

.Infos_list li {
    margin-bottom: 1rem;
    color: var(--neutral-color-2);
    font-weight: var(--font-weight-normal);
}