.Success {
    width: 375px;
    height: 100vh;
    margin: auto;
    padding: 1.5rem;
    background-color: var(--white);
}

.Success_icon {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.Success h1 {
    margin-bottom: 1rem;
    color: var(--neutral-color-1);
}

.Success p {
    margin-bottom: 6rem;
    color: var(--neutral-color-2);
    font-size: var(--font-size-paragraph);
    line-height: 1.5;
}

@media screen and (min-width: 1024px) {
    .Success {
        width: 500px;
        height: auto;
        margin: 2rem 0;
        padding: 3rem;
        border-radius: 30px;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .Success_icon {
        margin: 0;
    }

    .Success h1 {
        font-size: 3.5rem;
    }

    .Success p {
        margin-bottom: 1rem;
    }
}