.SignUp_info {
    margin: 2rem 1.5rem;
    line-height: 1.5;
}

.SignUp h1 {
    margin-bottom: 1.5rem;
    color: var(--neutral-color-1);
    font-weight: var(--font-weight-bold);
}

.SignUp p {
    margin-bottom: 1.5rem;
    color: var(--neutral-color-2);
    font-weight: var(--font-weight-normal);
}

.SignUp_list {
    list-style-image: url('assets/images/icon-list.svg');
    padding-left: 1.5rem;
}

.SignUp_list li {
    margin-bottom: 1rem;
    color: var(--neutral-color-2);
    font-weight: var(--font-weight-normal);
}

.SignUp_form {
    margin: 2.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--neutral-color-2);
    }

    .SignUp {
        width: 930px;
        padding: 1.5rem 1.5rem 1.5rem 4.5rem;
        margin: 2rem 0;
        border-radius: 30px;
        background-color: var(--white);

        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        row-gap: 1rem;
        column-gap: 4.5rem;
    }

    .SignUp_banner {
        grid-area: 1 / 2 / 3 / 3;
    }

    .SignUp_info {
        margin: 0;
        align-self: end;
    }

    .SignUp_form {
        margin: 0;
        align-self: start;
    }

    .SignUp_info h1 {
        font-size: 3.5rem;
    }
}
