@import-normalize;

:root {
  /* COLOR */
  --primary-color: hsl(4, 100%, 67%);
  --neutral-color-1: hsl(234, 29%, 20%);
  --neutral-color-2: hsl(235, 18%, 26%);
  --neutral-color-3: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);

  /* TYPOGRAPHY */
  --font-family: 'Roboto', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-paragraph: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
